// addOption-error
.addOption-error {
    color: $off-white;
    font-style: italic;
    margin: $m-size 0 0 0;
    padding: 0 $m-size;

}

// addOption
.addOption {
    display: flex;
    flex-direction: column; // default to mobile render, i.e. stack textbox and button.
    padding: $m-size;
}

// Element selector
.addOption__input {
    background: $dark-blue;
    border: none; // get rid of all borders and then immediately put in the bottom border.
    border-bottom: .3rem solid darken($dark-blue, 10%);
    color: $off-white;
    flex-grow: 1; // Take all available space
    margin: 0 0 $s-size 0;
    padding: $s-size;
}

// This is css not scss feature
@media (min-width: $desktop-breakpoint) { // when to apply the mobile styles. Here we will target what to change when not on mobile devices.
    * {
        .addOption {
            flex-direction: row; // Here we are targeting the option textbox to render the textbox and the button on the same row.
        }
    }
    .addOption__input {
        margin-right: $s-size; // Put a bit of space between the text box and the button
    }
}
