//
// The big button is unqiue so not re-using.
//
.big-button {
    background: $purple;
    border: none;
    border-bottom: .6rem solid darken($purple, 10%);    // This creates the 3-d effect on the bottom of the button.
                                                        // see http://sass-lang.com/documentation/Sass/Script/Functions.html
                                                        // for a full list of functions.
    color: white;
    font-weight: bold;
    font-size: $l-size;
    margin-bottom: $m-size;
    padding: 2.4rem; // Not using this anywhere else so no need to put in settings.
    width: 100%;
}

.big-button:disabled {
    opacity: .5;
}

@media (min-width: $desktop-breakpoint) {
    .big-button {
        margin-bottom: $xl-size;
    }
}

//
// All the other buttons
//
.button {
    background: $purple;
    border: none;
    border-bottom: .3rem solid darken($purple, 10%);
    color: white;
    font-weight: 500;
    padding: $s-size;
}

//
// Using BEM notation "--" to denote a modifier.
//
.button--link { // This is a modified version of the button.
    background: none;
    border: none;
    color: $off-white;
    padding: 0;
}
