//
// Define settings here that make sense. Don't go overboard, e.g. things like font-weight
// or other one-off things, may not make sense to put here.
//

// Colors
$off-black: #20222b;
$off-white: #a5afd7;
$dark-blue: #333745;

// Spacing
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
